.form-control {
  margin-top: 2em;
  margin-bottom: 1em;
}

.form-check {
  display: flex;
  justify-content: center;
  margin-bottom: .5em;
  font-size: 18px;
}

.form-check-input {
  margin-right: 10px;
}