.form-control {
  margin-top: 2em;
  margin-bottom: 1em;
}
.form-check-input {
  margin-right: 10px;
}

.card {
  margin: 1em;
}

.striked {
  color: rgba(185, 176, 176, 0.603);
  text-decoration: line-through;
}